<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/campbook.css">
    
    <script src="https://kit.fontawesome.com/3513d5fe97.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title>CampBook</title>
</head>
<body>
    <div class="maincontainer">

    <nav class="cbnavbar  navbar navbar-light navbar-expand-md">
        <div class="container">
        <a href="/" class="navbar-brand">CampBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item" class="">
                    <form class="form-inline my-2 my-lg-0 nav-search" action="/search" method="POST">
                        

                        <input  id="searchautocomplete" class="form-control mr-sm-2"  name="search"
                        placeholder="Search by city"
                        onFocus="geosearch()"
                        type="search"  required>


                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </li>
            </ul>
            <ul  class="navbar-nav ml-auto justify-content-end ">
                <% if(!loggedinUser){%>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                   <% }else{%>
                    <li class="nav-item inactive">
                        <a class="nav-link" href="#"><%=loggedinUser.username%></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                    <% }%>
             
                
            </ul>
        </div>
    </div>
    </nav>


  
   


    
    
    
